$border: 1px solid black;

.navContainer {
  border: $border;
  display: flex;
  flex-direction: row;
}

.linkContainer {
  border: $border;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 3px;
}

.linkContainer{
  a {
    text-decoration: none;
  }
}