.homeTopContainer {
  align-items: center;
  background-size: contain;
  border: 5px solid black;
  display: flex;
  height: 80vh;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

.homeMidContainer {
  background-color: rgba(250, 250, 250, 0.95);
  border: 2px solid black;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  height: 90%;
  justify-content: center;
  width: 90%;
}

.homeInnerContainer {
  padding: 10px;
}