$border: 1px solid black;

.container {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.profileImage {
  border: $border;
  max-width: 200px;
}

.profileStats {
  border: $border;
}

.profileTopContainer {
  width: 95%;
}

.profileBio {
  border: $border;
}

