$border: 1px solid black;

.historyResult {
  border: $border;
  margin-bottom: 10px;
}

.confirmationsOuterContainer {
  background-color: white;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 700px;
  text-align: center;
  border: $border;
  padding: 40px;
}

.confirmationsInnerContainer {
  border: 1px solid red;
  overflow: scroll;
  height: 520px;
}

.gameImage {
  width: 100%;
  height: auto;
}

.match {
  display: flex;
  border: $border;
}

.matchGame {
  border: $border;
  min-width: 210px;
  height: auto;
}

.matchScores {
  position: relative;
  width: 400px;
  height: auto;
}

.confirmationStats {
  display: flex;
  position: relative;
  text-align: left;
}

.confirmationPlayerName {
  border: $border;
  width: 80%
}

.confirmationPlayerName {
  span {
    font-size: 20px;
    margin-left: 10px;
  }
}

.confirmationScore {
  border: $border;
  text-align: center;
  width: 20%;
}

.confirmationScore {
  span {
    font-size: 20px;
  }
}

.columnTitle {
  font-weight: bold;
  margin-left: 10px;
}

.confirmationButtonContainer {
  width: 130px;
}

.confirmationButtonContainer {
  button {
    margin-top: 30%;
    height: 100px;
    width: 100px;
  }
}

.modal {
  z-index: 3;
}