.historyResult {
  border: 1px solid black;
  margin-bottom: 10px;
}

.historyResultScores {
  margin-right: 10px;
}

.confirmationsPending {
  background-color: white;
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  text-align: center;
}