.invalidLandingInput {
  color: red;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  text-align: center;
}

.landing {
  h1 {
    font-size: 4em;
  }
}

form {
  input{ 
    font-size: 20px;
    height: 30px;
    width: 200px;
  }
}