#app {
  background: radial-gradient(rgba(78,163,216,1) 25%,rgba(78,163,216,1) 25%,rgba(125,185,232,1) 50%,rgba(78,163,216,1) 75%,rgba(32,124,202,1) 100%);
  height: 1000px;
}

#innerApp {
  margin: 5px;
}

.invalidLandingInput {
  color: red;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  text-align: center;
}

.landing {
  h1 {
    font-size: 4em;
  }
}

form {
  input{ 
    font-size: 20px;
    height: 30px;
    width: 200px;
  }
}