$border: 1px solid black;

.displayGameContainer {
  display: flex;
}

.gameChoices {
  margin-right: 80px;
}

.innerScoreContainer {
  display: flex;
  width: 500px;
}

.innerUsername, .innerScore {
  border: $border;
  font-size: 18px;
}

.innerScore {
  text-align: center;
  width: 20%;
}

.innerUsername {
  width: 80%;
}

.selectedColumnTitle {
  border: $border;
  font-size: 18px;
}

.selectedGame {
  width: 200px;

  img {
    height: auto;
    width: 100%;
  }
}

.selectedGameContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.selectOptionsContainer {
  display: flex;
}

.submitContainer {
  display: flex;
  flex-direction: column;
}

.submitForm {
  border: $border;
}
