$border: 1px solid black;

.displayGameContainer {
  display: flex;
}

.gameChoices {
  margin-right: 80px;
}

.innerScoreContainer {
  display: flex;
  width: 500px;
}

.innerUsername, .innerScore {
  border: $border;
  font-size: 18px;
}

.innerScore {
  text-align: center;
  width: 20%;
}

.innerUsername {
  width: 80%;
}

.selectedColumnTitle {
  border: $border;
  font-size: 18px;
}

.selectedGame {
  width: 200px;

  img {
    height: auto;
    width: 100%;
  }
}

.selectedGameContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.selectOptionsContainer {
  display: flex;
}

.submitContainer {
  display: flex;
  flex-direction: column;
}

.submitForm {
  border: $border;
}


.submitGrid {
  display: grid;
  grid-template-areas:  "columnGameTitle columnPlayerName columnScore"
                        "gameImage playerName score"
                        "gameSelect playerSelect scoreSelect"
                        "scoreActions scoreActions emptySpace";
  grid-template-rows:   22px 1fr 22px 22px;
  grid-template-columns: 200px 400px 100px;
  
  div {
    border: $border;
  }
}

.gridGameColumn {
  grid-area: columnGameTitle;
}

.gridPlayerNameColumn {
  grid-area: columnPlayerName;
}

.gridScoreColumn {
  grid-area: columnScore;
}

.gridGameImage {
  grid-area: gameImage;
}

.gridPlayerName {
  grid-area: playerName;
}

.gridScore {
  grid-area: score;
}
  
.gridGameSelect {
  grid-area: gameSelect;
}

.gridPlayerSelect {
  grid-area: playerSelect;
}

.gridSubmit {
  grid-area: scoreActions;
}